{% extends "layouts/base.html" %}

{% block title %} Forms Control {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="callout callout-info bg-white">
        Price : 320 coin/comment/day
        We can only process one request at one time. When you buy one, please wait until the current order is finished
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <p class="text-medium-emphasis">
                {% if msg %}
                  {{ msg | safe }}  
                {% endif %}                      
            </p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#add-comment" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Tạo đơn hàng mới</a>
              </li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#active-vip-comment" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Danh sách VIP</a>
              </li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#disactive-vip-like" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Danh sách VIP hết hạn</a>
              </li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="add-comment">
                <form role="form" method="post" action="">
                    
                    {{ form.hidden_tag() }} 
                        <div class="input-group mb-3"><span class="input-group-text">ID trang cá nhân: </span>
                            {{ form.facebook_id(class="form-control") }}
                        </div>
                        <div class="input-group mb-3"><span class="input-group-text">Số lượng</span>
                          {{ form.comments(class="form-control", id="input-like") }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">Lệnh dừng</span>
                          {{ form.stop_command(class="form-control") }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">Thời gian</span>
                          {{ form.time(class="form-control", id="input-time") }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">Nội dung</span>
                            {{ form.content(class="form-control") }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">hinh anh</span>
                          {{ form.image_url(class="form-control") }}
                      </div>
                        <div class="input-group mb-4"><span class="input-group-text">Họ tên</span>
                          {{ form.name(class="form-control") }}
                        </div>
                        <!-- <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">@</span>
                            <input class="form-control" type="text" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div> -->
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit" name="addcomment">buy</button>
                          </div>
                        </div>
                </form> 
                <p class="text-medium-emphasis">
                  <a id="log"></a> Coin                      
                </p>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="active-vip-comment">
                <table class="table">
                  <!-- <caption>List of users</caption> -->
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">facebook ID</th>
                      <th scope="col">facebook name</th>
                      <th scope="col">Thời gian (ngay)</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Ngày hết hạn</th>
                      <th scope="col">Post</th>
                      <th scope="col">note</th>
                      <th scope="col">update</th>  
                    </tr>
                  </thead>
                  <tbody>
                    {% for vip in viplike %}
                      {% if vip.status.find('Hoạt động') != -1 %}
                        <tr>
                          <th scope="row">{{vip['0']}}</th>
                          <td>{{ vip.id }}</td>
                          <td>{{ vip.name }}</td>
                          <td>{{ vip.han }}</td>
                          <td>{{ vip.likes}}</td>
                          <td>{{ parse_date(vip.timeend) }}</td>
                          <td>{{ render_template_string(vip.post) | safe }}</td>
                          <td>{{ vip.type }}</td>
                          <td>{{ vip.note }}</td>
                          <td>
                            <form role="form" method="post" action="">
                    
                              {{ update_form.hidden_tag() }} 
                              {{ update_form.facebook_id(value=vip.id, hidden=True, readonly=True)}}
                              <div class="input-group mb-4"><span class="input-group-text">Lệnh dừng</span>
                                {{ form.stop_command(class="form-control") }}
                              </div>
                              <div class="input-group mb-4"><span class="input-group-text">Nội dung</span>
                                {{ form.content(class="form-control") }}
                              </div>
                              <div class="input-group mb-4"><span class="input-group-text">hinh anh</span>
                                {{ form.image_url(class="form-control") }}
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <button class="btn btn-primary px-4" type="submit" name="updatelike">update</button>
                                </div>
                              </div>
                            </form>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="disactive-vip-like">
                <table class="table">
                  <!-- <caption>List of users</caption> -->
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">facebook ID</th>
                      <th scope="col">facebook name</th>
                      <th scope="col">Thời gian (ngay)</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Ngày hết hạn</th>
                      <th scope="col">Post</th>
                      <th scope="col">note</th>
                      <th scope="col">delete</th>  
                    </tr>
                  </thead>
                  <tbody>
                    {% for vip in viplike %}
                      {% if vip.status.find('Hoạt động') == -1 %}
                        <tr>
                          <th scope="row">{{vip['0']}}</th>
                          <td>{{ vip.id }}</td>
                          <td>{{ vip.name }}</td>
                          <td>{{ vip.han }}</td>
                          <td>{{ vip.likes}}</td>
                          <td>{{ parse_date(vip.timeend) }}</td>
                          <td>{{ render_template_string(vip.post) | safe }}</td>
                          <td>{{ vip.type }}</td>
                          <td>{{ vip.note }}</td>
                          <td><a href="{{url_for('facebook_api_vip_blueprint.delcmt_view', facebook_id=vip.id)}}" >delete</a></td>
                          <!-- <td>
                            <form role="form" method="post" action="">
                    
                              {{ update_form_extend.hidden_tag() }} 
                              {{ update_form_extend.facebook_id(value=vip.id, hidden=True, readonly=True)}}
                              {{ update_form_extend.comments(value=vip.likes, hidden=True, readonly=True)}}

                              <div class="input-group mb-4"><span class="input-group-text">Thời gian (ngay)</span>
                                {{ update_form_extend.time(class="form-control") }}
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <button class="btn btn-primary px-4" type="submit" name="updatelikeextend">update</button>
                                </div>
                              </div>
                            </form>
                          </td> -->
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="/static/assets/js/utils_vipcmt.js" ></script>
{% endblock javascripts %}
