
{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid">
    <!-- <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('/static/assets/img/curved-images/curved0.jpg'); background-position-y: 50%;">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <p class="text-medium-emphasis">
        {% if msg %}
          {{ msg | safe }}  
        {% endif %}                      
      </p> -->
      {% include "includes/user-info.html" %}

      <div class="row mt-4">
        <div class="col-12 col-lg-11">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <div class="author align-items-center">
                <div class="name">
                  <h4 class="mb-1 text-primary"><span class="badge bg-gradient-info ms-auto text-white">Tạo đơn hàng</span></h4>

                </div>
              </div>

            </div>
            <div class="card-body p-3">
              <p>Điền thông tin mà bạn muốn seeding - Hệ thống sẽ tự động thực hiện theo yêu cầu của bạn</p>
              <form>
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">ID trang cá nhân:</label>
                      {{ form.facebook_id(class="form-control") }}     
                    </div>
                    <div class="form-group">
                      <label for="example-search-input" class="form-control-label">Họ tên</label>
                      {{ form.name(class="form-control") }}     
                      <!-- <input class="form-control" type="search" value="Ex: Định Nguyễn" id="example-search-input"> -->
                    </div>
                  </div>
                  <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="form-group">
                      <label for="example-email-input" class="form-control-label">Thời gian<gian></gian></label>
                      {{ form.time(class="form-control", id="input-like") }}
                    </div>
                    <div class="form-group">
                      <label for="example-tel-input" class="form-control-label">Số lượng</label>
                      {{ form.like(class="form-control", id="input-time") }}
                    </div>
                  </div>
                  <div class="col-lg-6 mb-lg-6 mb-6">
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      <!-- <input class="form-check-input" id="like_emotion" name="like_emotion" type="checkbox" value="y"> -->
                      {{ form.like_emotion(class="form-check-input") }}

                      <label class="form-check-label" for="rememberMe">
                        LIKE
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An-tsvy1nZCAfjJDq_e9hwhgJ_ouDg6GOHdVQtc31Lh3B13GEFJ0N3wRI6j2_Lz8icCyU4RkVsKbJckG5NMDv5TxxWie8OqB_kcvCNizVjn7sw.png?ccb=10-5&oh=00_AT8hSJzUzktG28xzhtmek4rSl6AV62HP3vGBZZ6L63Vk2A&oe=628C13AD&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>

                    <!--                      <div class="form-check form-switch">-->
                    <!--                        <input class="form-check-input" id="like_emotion" name="like_emotion" type="checkbox" value="y">-->
                    <!--                        <label class="form-check-label" for="rememberMe">Thương thương-->
                    <!--                        </label>-->
                    <!--                        <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An-zbifsrGonJXBikRGgj1txFJUkRG3aCN5900mzKo6dVL8tKCuWwF6D9Ov6XB3JJZ7pT1FSxuFsETOjkjZ08b5AyPU0z_GsxZH2nWiW2ScJT4p3rQ.png?ccb=10-5&oh=00_AT_Iv164_NjvW9i3RN_IrDxHq3Dycj3h7oiK7N2Mq9hMEA&oe=628C5AE3&_nc_sid=55e238" style="background-size: cover;width: 24px;">-->
                    <!--                      </div>-->
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      {{ form.haha_emotion(class="form-check-input") }}
                      <label class="form-check-label" for="rememberMe">
                        HAHA
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An9yRlv3tqyIsDTiKV0WfMgtabNG9VPyvNiv5USdzPe0Cbp2FdNMvbGH1mvTvI8TczUcd9kED-M5Q1z9-fVK3zAMCRSiYtsWTpWSid0DJlPasg.png?ccb=10-5&oh=00_AT9U3lCMIi6EwN-ZLnQwipZeb9YIfSiQtTgY7Fnn36btjw&oe=628B875D&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      {{ form.angry_emotion(class="form-check-input") }}
                      <label class="form-check-label" for="rememberMe">
                        GIAN DU
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An-mj0uPEZ5b6GVy3OC-_ZMV1AGoboZI3SG9P2r3WElt054OlpAmUSq9QPU0i9RdhF07UwCRHIsC06i-w4_VCrnJnBEent1vmcy8MXOQt0msew.png?ccb=10-5&oh=00_AT911AQys6--6zJgPIGqU3y97xiilpJUbto8vrfolfrE4A&oe=628BF201&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>
                    <hr class="horizontal light">
                  </div>
                  <div class="col-lg-6 mb-lg-6 mb-6">
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      {{ form.heart_emotion(class="form-check-input") }}
                      <label class="form-check-label" for="">
                        THA TIM
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An8KxJw0TdKA0hIHqkw35xWvBGYLLbtgD5y14_K8iN_zaDhCWgixktWzvqA45BTxHACGktnPMx_lkq1uE66153QNE58NZp59iYz6MDdtqgcTZw.png?ccb=10-5&oh=00_AT9by5YOHPIEY0d66exm5jM6EIsGp0-UvjXax9hhaOO33Q&oe=628C7015&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      {{ form.wow_emotion(class="form-check-input") }}
                      <label class="form-check-label" for="rememberMe">
                        WOW
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An_f5KryEO3JdbkuRbEs1ixj8HC8itKTXvZ3Hl1c-zaREaiMDPCRTNw6CSwRUjKkq_YXEuxmsqBu06WIeteZ7MBZ2WKuJXvOK6WdOQfGi2Ixg9Sd.png?ccb=10-5&oh=00_AT_zTHpQzZ87jTJ2LaFRMDMA49Mq5kKukX52K31nuyQ6Wg&oe=628C0794&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>
                    <hr class="horizontal light">
                    <div class="form-check form-switch">
                      {{ form.cry_emotion(class="form-check-input") }}
                      <label class="form-check-label" for="rememberMe">
                        KHOC
                      </label>
                      <img src="https://scontent.xx.fbcdn.net/m1/v/t6/An9Yzzh8CoEGqeWIfY5w6zR3VdPbG5X1fHXZdMfftnoomx3ObysBj145G99ZhM1T6DcU_ZAH2bEdiOj8sUAQvplVo0cYKS_GprBBJlcwiBHomFx7hQ.png?ccb=10-5&oh=00_AT_FQ_3FvBA2tzlA5D0JD9n0-TEI_6cyN8KzB9mW0hW9hg&oe=628D5A4F&_nc_sid=55e238" style="background-size: cover;width: 24px;">
                    </div>
                    <hr class="horizontal light">
                  </div>
                </div>
              </form>

            </div>
            <div class="card-footer p-3">
              <div class="d-lg-flex">
                <div>
                  <h4 class="mb-1 text-primary text-warning">Thành tiền : </h4>
                  <a id="log"></a> Coin
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    <button type="submit" name="addlike" class="btn btn-primary btn-icon">
                      <span class="btn-inner--icon"><i class="fa-solid fa-cart-shopping"></i></span>
                      <span class="btn-inner--text">Xác nhận</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <div class="author align-items-center">
            <div class="name ps-3">
              <h4 class="mb-1 text-primary"><span class="badge bg-gradient-info ms-auto text-white">Danh sách VIP</span></h4>
            </div>
          </div>
        </div>
        <div class="card-body p-3">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <div class="card">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead class="bg-gradient-dark">
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#STT</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Goi Vip</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày hết hạn</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Post</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Loại like</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cap Nhat</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for vip in viplike %}
                        {% if vip.status == 'Hoạt động' %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ vip.name }}</h6>
                                        <p class="text-xs text-secondary mb-0">{{ vip.id }}</p>
                                    </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ vip.han }} ngay</p>
                                    <p class="text-xs text-secondary mb-0">{{ vip.likes }} likes</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">{{ parse_date(vip.timeend) }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="badge badge-sm bg-gradient-success">{{ render_template_string(vip.post) | safe }}</span>
                                </td>
                                <td class="align-middle text-center">
                                  <span class="badge badge-sm bg-gradient-success">{{ vip.type }}</span>
                              </td>
                                <td class="align-middle">
                                  <form role="form text-left" method="post" action="">
                                    {{ update_form.hidden_tag() }}
                                    {{ update_form.facebook_id(value=vip.id, hidden=True, readonly=True)}}
                                    <div class="form-check form-switch">
                                      {{ update_form.like_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">Like</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      {{ update_form.haha_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">Haha</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      {{ update_form.angry_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">Gian Du</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      {{ update_form.heart_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">Tha tim</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      {{ update_form.wow_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">WOW</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      {{ update_form.cry_emotion(class="form-check-input") }}
                                      <label class="form-check-label" for="rememberMe">Khoc</label>
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" name="updatelike" class="btn bg-gradient-info w-100 mt-4 mb-0">Cap Nhat</button>
                                    </div>
                                  </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <div class="author align-items-center">
            <div class="name ps-3">
              <h4 class="mb-1 text-primary"><span class="badge bg-gradient-info ms-auto text-white">Danh sách VIP Hết hạn</span></h4>
            </div>
          </div>
        </div>
        <div class="card-body p-3">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <div class="card">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead class="bg-gradient-dark">
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#STT</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Goi Vip</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày hết hạn</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Post</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Loại like</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Xoa</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for vip in viplike %}
                        {% if vip.status != 'Hoạt động' %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ vip.name }}</h6>
                                        <p class="text-xs text-secondary mb-0">{{ vip.id }}</p>
                                    </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ vip.han }} ngay</p>
                                    <p class="text-xs text-secondary mb-0">{{ vip.likes }} likes</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">{{ parse_date(vip.timeend) }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="badge badge-sm bg-gradient-success">{{ render_template_string(vip.post) | safe }}</span>
                                </td>
                                <td class="align-middle text-center">
                                  <span class="badge badge-sm bg-gradient-success">{{ vip.type }}</span>
                              </td>
                                <td class="align-middle">
                                    <div class="text-center">
                                      <button type="submit" name="updatelike" class="btn bg-gradient-info w-100 mt-4 mb-0">
                                        <a href="{{url_for('facebook_api_vip_blueprint.dellike_view', facebook_id=vip.id)}}" >Xoa</a>
                                      </button>
                                    </div>
                                  </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="globe" class="position-absolute end-0 top-10 mt-sm-3 mt-7 me-lg-7">
        <canvas width="700" height="600" class="w-lg-100 h-lg-100 w-75 h-75 me-lg-0 me-n10 mt-lg-5"></canvas>
      </div>
    </div>
  </div>  
    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script type="text/javascript" src="/static/assets/js/utils.js" ></script>
{% endblock javascripts %}
